<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %></h1>
        <h2><%= link_to "フォロー( " + @following.count.to_s + " )",:controller => "users", :action => "followings" %><br>
        <%= link_to "フォロワー( " + @follower.count.to_s + " )",:controller => "users", :action => "followers" %>
        </h2>
      </section>
     <section class="user_description">
    <div class="panel panel-default">
    <div class="panel-heading">自己紹介</div>
   <div class="panel-body">
    <%= @user.description %>
   </div>
   </div>
  <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
  <%= @user.location %>
    </section>
  </aside>
  <div class="col-md-8">
   <%= render 'follow_form' if logged_in? %>
    <% if @user.microposts.any? %>
      <h3>Microposts (<%= @user.microposts.count %>)</h3>
      <ol class="microposts">
        <%= render @microposts %>
      </ol>
    <% end %>
  </div>
</div>